/** Begin Loader **/
#loader-wrapper{ display: block; }
.no-js #loader-wrapper{ display: none; }

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9996;
  background-color: transparent;
}

#loader-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9997;
  background-color:#000000;

  /* works for IE 5+. */
  filter:alpha(opacity=10);

  /* works for IE 8. */
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";

  /* works for old school versions of the Mozilla browsers like Netscape Navigator. */
  -moz-opacity:0.1;

  /* This is the "most important" one because it's the current standard in CSS. This will work in most versions of Firefox, Safari, and Opera. */
  opacity: 0.1;
}

#loader{
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 4em;
  height: 4em;
  margin: -2em 0 0 -2em;
  padding: 0;
  color: black;
  font-weight: bold;
  z-index: 9998;
}
/** End Loader **/